@import "variables";

html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {  
    font-family: $ff-rhd;
    overflow-x: hidden;
}


ul {
    list-style-type: none;
}

//*--------------------> mediaQuroes 

//*----------> smartWatch

// @media screen and (max-width: 270px)

//*----------> smallMobile

// @media screen and (min-width: 271px) and (max-width: 360px)

//*----------> largeMobile

// @media screen and (min-width: 361px) and (max-width: 767px)

//*----------> Tablets 

// @media screen and (min-width: 768px) and (max-width:1023px)

//*----------> Desktop

// @media screen and (min-width: 1024px) and (max-width:1280px)

//*----------> Largedesktop

// @media screen and (min-width:1280px)


//*--------------------> Flex Styles

.flex {
    display: flex;

    &-jc-ctr {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-ai-ctr {
        align-items: center;
    }

    &-fd-col {
        flex-direction: column;
    }
}

//*--------------------> Grid Styles

.grid {
    display: grid;
    place-items: center;
}

//*--------------------> Font Styles

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

//*--------------------> Border Styles

.br-10 {
    border-radius: 0.625em;
}

.br-18 {
    border-radius: 1.125em;
}

